<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
      <br>
       <h3 class="nav-title">{{ site.description }}</h3>
    </a>
     <br>
     <br>
    <ul>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">Обо мне</a></li>
       <li><a href="{{ '/consulting' | prepend: site.baseurl }}">Консультации</a></li>
      <li><a href="{{ '/courses' | prepend: site.baseurl }}">Курсы</a></li>
       <li><a href="{{ '/testimonials' | prepend: site.baseurl }}">Отзывы</a></li>
       <li><a href="{{ '/contacts' | prepend: site.baseurl }}">Контакты</a></li>
<!--       <li><a href="{{ site.baseurl }}/">Posts</a></li> -->
    </ul>
  </div>
</nav>
